.main_contain {
    padding-left: 120px;
    padding-top: 90px;
}

.dashboard {
    padding: 50px 0 0 50px;
    margin-bottom: 50px;
}

.user {
    margin-bottom: 50px;
}

.user_title {
    font-size: 48px;
    font-weight: 500;
}

.user_title span {
    color: #ff0000;
}

.user_subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.error {
    font-size: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.chart {
    display: flex;
    gap: 30px;
}

.left_column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.other_chart {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nutritional {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .chart {
        flex-direction: column-reverse; 
    }

    .other_chart {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nutritional {
        flex-direction: row;
    }
}

